@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply max-w-5xl w-screen flex flex-col my-16 px-4 md:px-0;
}

.header-text {
  @apply font-bold text-6xl md:text-8xl text-center text-foreground select-none mb-12;
}

.header-text-secondary {
  @apply font-bold text-5xl md:text-6xl text-foreground select-none mb-4 md:mb-12;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.transition-slow {
  @apply transition duration-300;
}

.transition-normal {
  @apply transition duration-150;
}

.transition-fast {
  @apply transition duration-75;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 10%;

    --red-accent: 343, 100%, 50%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0, 0%, 77%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 3.9%;
    --ring: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 10%;
    --foreground: 0 0% 98%;

    --red-accent: 343, 100%, 50%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0, 0%, 77%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0, 0%, 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 98%;
    --ring: 0, 0%, 10%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply scroll-smooth !important;
    @apply box-border !important;
  }

  body {
    @apply bg-background text-foreground;
  }
}
